{
  "presets": [
    "module:metro-react-native-babel-preset"
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "cwd": "babelrc",
        "root": ["./"],
        "extensions": [
          ".ios.js",
          ".android.js",
          ".js",
          ".json",
          ".jsx",
          ".ts",
          ".tsx"
        ],
        "alias": {
          "@app": "./src/App",
          "@root": "./",
          "@assets": "./src/assets",
          "@blocs": "./src/blocs",
          "@clients": "./src/clients",
          "@components": "./src/components",
          "@helpers": "./src/helpers",
          "@interfaces": "./src/interfaces",
          "@modules": "./src/modules",
          "@repos": "./src/repos",
          "@screens": "./src/screens",
          "@styles": "./src/styles"
        }
      }
    ]
  ]
}
